{% extends 'wrapper.html' %}
{% block content %}
    <div class="container login-container">
        <div class="row">
            <div class="login-form-2">
                <h3>Форма авторизации</h3>

                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="username" class="form-control" placeholder="Логин *" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Пароль *"
                               value=""/>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" id="login" class="btnSubmit justify-content-center" value="Войти"/>
                    </div>
                    <div class="form-group">
                        <a href="#" class="ForgetPwd float-right" value="Login">Забыли пароль?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% if form.errors %}
        <script>toastr.error("Логин или пароль не совпадают, попробуйте снова.")</script>
    {% endif %}
{% endblock %}