{% extends "wrapper.html" %}

{% block content %}
    <div class="jumbotron">
        <h1>Галлерея</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, reiciendis porro possimus doloribus nobis
            omnis!</p>
    </div>

    <div id="lightgallery" class="row">
        {% for photo in gallery %}
            <a href="{{ photo.photo }}"
               class="col-sm-6 col-md-4 mb-3" data-sub-html="<h4>{{ photo.description }}</h4>">
                <img src="{{ photo.photo }}"
                     class="img-thumbnail" style="object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 250px;
  height: 125px;
  " alt="{{ photo.description }}">
            </a>

        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script>lightGallery(document.getElementById('lightgallery'));</script>
{% endblock %}